<!doctype html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="'IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block page_title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="ui container">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
